<div>
    <h3>Signup:</h3>
    <form>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="text" id="password" name="password"><br><br>
        <button>Signup!</button>
    </form><br>
    <a href="/login">Login instead</a>
</div>